extends ../main

block titlePage
  title Home


block content
  // Start Navbar
  include ../sections/navbar

  // Start hero-bg
  include ../sections/hero-bg

  // Start Statistics
  include ../sections/Statistics

  // Start WhatCrona
  include ../sections/whatCrona

  // Start whatPrevent
  include ../sections/whatPrevent

  // Start Protect
  include ../sections/protect

  // Start Symptoms
  include ../sections/symptoms

  // Start New Article
  include ../sections/newArticle

  // Start Footer
  include ../sections/footer