section.contact.mt-5
  .container
    .row
      .col-md-6
        form
          .form-row
            .form-group.col-md-6
              label First Name
              input.form-control(type='text')
            .form-group.col-md-6
              label Last Name
              input.form-control(type='text')
          .form-group
            label Email
            input.form-control(type='email')
          .form-group
            label Subject
            input.form-control(type='text')
          .form-group
            label Message
            textarea.form-control
      .col-md-6
        .qick-info
          h4.font-weight-bold.pl-4.mb-4 Quick info
          ul.d-flex.flex-column.pl-4
            li.fa.fa-map-marker.mb-3
              a(href="#") Fake street, 3929, London
            li.fa.fa-phone.mb-3
              a(href="#") +1 291 2902 392
            li.fa.fa-envelope.mb-3
              a(href="#") info@mydomain.com
            li.fa.fa-globe
              a(href="#") https://mywebsite.com
