footer.footer
  .container
    .row.row-cols-1.row-cols-md-4
      .col
        .box-one
          h3 About
          p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi cumque tenetur inventore veniam, hic vel ipsa necessitatibus ducimus architecto fugiat!
          ul.list-unstyled.d-flex
            li.icon.mr-3
              i.fa.fa-facebook.text-primary
            li.icon.mr-3
              i.fa.fa-twitter.text-primary
            li.icon.mr-3
              i.fa.fa-instagram.text-primary
            li.icon.mr-3
              i.fa.fa-linkedin.text-primary
      .col
        .box-two
          h3 Qiuck Links
          a(href="#") Symptoms
          a(href="#") Prevention
          a(href="#") FAQs
          a(href="#") About Coronavirus
          a(href="#") Contact Us
      .col
        .box-two
          h3 Helpful Link
          a(href="#") Helathcare Professional
          a(href="#") LGU Facilities
          a(href="#") Protect Your Family
          a(href="#") World Health
      .col
        .box-two
          h3 Resources
          a(href="#") WHO Website
          a(href="#") CDC Website
          a(href="#") Gov Website
          a(href="#") DOH Website
    p.text-black-50.text-center.mt-4 Copyright ©2020 All rights reserved | This template is made with  by Sofly Khaled
