section.hero-bg.bg-primary
  .container
    .row.justify-content-center.text-center.text-md-left
      .col-md-6
        .text-box.mb-1.mb-md-0
          small.text-primary= smallText
          h2.text-primary.font-weight-bold= headText
          p.text-muted Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus doloribus quia, cumque optio
          button.btn.bg-primary2.rounded-pill How to Prevent
      .col-md-6
        img(src= imgBg, alt="img", class="img-fluid")