section.newArticle
  .container
    .boxtext.text-center
      h2.text-primary News & Articles
      p.text-black-50 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam doloremque aperiam architecto eos sequi beatae
    .row.row-cols-1.row-cols-md-3.mt-5
      -for(var i=0; i< artNum; i++)
        .col
          .card.text-center.border-0
            a(href="#").stretched-link
              img(src="images/hero_1.jpg", alt="img").img-fluid
            span.date 30 Jul, 2020
            .card-body
              span.text-black-50.mr-4.fa.fa-user Admin
              span.text-black-50.fa.fa-comments 3 Comments
              h5.text-primary.font-weight-bold How Coronavirus Very Contigous
        .col
          .card.text-center.border-0
            a(href="#").stretched-link
              img(src="images/hero_2.jpg", alt="img").img-fluid
            span.date 30 Jul, 2020
            .card-body
              span.text-black-50.mr-4.fa.fa-user Admin
              span.text-black-50.fa.fa-comments 3 Comments
              h5.text-primary.font-weight-bold How Coronavirus Very Contigous
        .col
          .card.text-center.border-0
            a(href="#").stretched-link
              img(src="images/hero_1.jpg", alt="img").img-fluid
            span.date 30 Jul, 2020
            .card-body
              span.text-black-50.mr-4.fa.fa-user Admin
              span.text-black-50.fa.fa-comments 3 Comments
              h5.text-primary.font-weight-bold How Coronavirus Very Contigous
