section.pagnation
  .container
    ul.list-unstyled.d-flex.justify-content-center
      li.mr-3
        a(href="#") 1
      li.mr-3
        a(href="#").active 2
      li.mr-3
        a(href="#") 3
      li
        a(href="#") 4