section.protect
  .container
    .box-text.text-center.mb-5
      small.text-black-50.h6 What You need to do
      h2.text-primary How To Protect YourSelf
      p.text-muted Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odit nisi commodi ad quia quas
    .row.align-items-center
      //- Collumn One
      .col-md-6
        .row.row-cols-1.row-cols-md-2
          .col
            .box
              h5 You Should do
              ul.list-unstyled
                li.text-muted.mb-3
                  | Stay at home
                li.text-muted.mb-3
                  | Wear mask
                li.text-muted.mb-3
                  | Use Sanitizer
                li.text-muted.mb-3
                  | Disinfect your home
                li.text-muted.mb-3
                  | Wash your hands
                li.text-muted.mb-3
                  | Frequent self-isolation
          .col
            .box.avoid
              h5 You Should avoid
              ul.list-unstyled
                li.text-muted.mb-3
                  | Avoid infected people
                li.text-muted.mb-3
                  |Avoid animals
                li.text-muted.mb-3
                  | Avoid handshaking
                li.text-muted.mb-3
                  | Aviod infected surfaces
                li.text-muted.mb-3
                  | Don't touch your face
                li.text-muted.mb-3
                  | Avoid droplets
      //- Collumn Two
      .col-md-6
        img(src="images/protect.png", alt="img").img-fluid
