section.statis.text-center
  .container
    h2.text-primary Coronavirus Statistics
    p.text-muted.mb-5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque corporis molestiae culpa
    .row.row-cols-1.row-cols-md-3
      .col
        .box.mb-3.mb-md-0
          i.flaticon-virus.text-primary
          .card-body
            h3 14,112,077
            small.text-muted Active Case
      .col
        .box.mb-3.mb-md-0
          i.flaticon-virus.text-primary
          .card-body
            h3 595,685
            small.text-muted Deaths
      .col
        .box.mb-3.mb-md-0
          i.flaticon-virus.text-primary
          .card-body
            h3 8,397,665
            small.text-muted Recovered Case