section.symptoms.bg-primary.py-5
  .container
    .boxtext.text-center.mb-5
      h2.text-primary Symptoms of Coronavirus
      p.text-black-50 Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iusto veritatis. Sit ipsa excepturi consequuntur
    .row.row-cols-1.row-cols-md-2
      .col
        .media.bg-white.p-4.rounded-sm.mb-4.shadow
          img(src="images/symptom_high-fever.png", alt="img", width='80').img-fluid
          .media-body.ml-3
            h5.text-primary Hight Fever
            p.text-black-50 Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptas eligendi in qui perferendis ipsam tempore id eius quo sit
      .col
        .media.bg-white.p-4.rounded-sm.mb-4.shadow
          img(src="images/symptom_high-fever.png", alt="img", width='80').img-fluid
          .media-body.ml-3
            h5.text-primary Hight Fever
            p.text-black-50 Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptas eligendi in qui perferendis ipsam tempore id eius quo sit
      .col
        .media.bg-white.p-4.rounded-sm.mb-4.shadow
          img(src="images/symptom_high-fever.png", alt="img", width='80').img-fluid
          .media-body.ml-3
            h5.text-primary Hight Fever
            p.text-black-50 Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptas eligendi in qui perferendis ipsam tempore id eius quo sit
      .col
        .media.bg-white.p-4.rounded-sm.shadow
          img(src="images/symptom_high-fever.png", alt="img", width='80').img-fluid
          .media-body.ml-3
            h5.text-primary Hight Fever
            p.text-black-50 Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptas eligendi in qui perferendis ipsam tempore id eius quo sit
    .box-call.text-center.mt-4
      p.text-primary.font-weight-bold Stay at home and call your doctor :
        span.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, eaque
      a(href="#").btn.bg-primary2.fa.fa-phone.rounded-pill Help Line