section.team.text-center.mt-5
  h2.text-primary Team
  p.text-muted Lorem ipsum dolor sit amet consectetur adipisicing elit Velit debitis
  .container
    .row.row-cols-1.row-cols-md-3
      .col
        .card.border-0.align-items-center.mt-5
          img(src="images/person_1.jpg", alt="img").img-fluid
          .card-body
            h5.text-primary Jane Smith
            p.text-black-50 Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse odit sapiente consequuntur, cumque laudantium facere impedit libero natus sunt fugiat
            h6.text-muted Connect on social
            ul.list.list-unstyled.d-flex.justify-content-center
              li.mr-3
                a(href="#").fa.fa-facebook.text-primary
              li.mr-3
                a(href="#").fa.fa-twitter.text-primary
              li.mr-3
                a(href="#").fa.fa-instagram.text-primary
              li
                a(href="#").fa.fa-linkedin.text-primary
      .col
        .card.border-0.align-items-center.mt-5
          img(src="images/person_2.jpg", alt="img").img-fluid
          .card-body
            h5.text-primary Jane Smith
            p.text-black-50 Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse odit sapiente consequuntur, cumque laudantium facere impedit libero natus sunt fugiat
            h6.text-muted Connect on social
            ul.list.list-unstyled.d-flex.justify-content-center
              li.mr-3
                a(href="#").fa.fa-facebook.text-primary
              li.mr-3
                a(href="#").fa.fa-twitter.text-primary
              li.mr-3
                a(href="#").fa.fa-instagram.text-primary
              li
                a(href="#").fa.fa-linkedin.text-primary
      .col
        .card.border-0.align-items-center.mt-5
          img(src="images/person_3.jpg", alt="img").img-fluid
          .card-body
            h5.text-primary Jane Smith
            p.text-black-50 Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse odit sapiente consequuntur, cumque laudantium facere impedit libero natus sunt fugiat
            h6.text-muted Connect on social
            ul.list.list-unstyled.d-flex.justify-content-center
              li.mr-3
                a(href="#").fa.fa-facebook.text-primary
              li.mr-3
                a(href="#").fa.fa-twitter.text-primary
              li.mr-3
                a(href="#").fa.fa-instagram.text-primary
              li
                a(href="#").fa.fa-linkedin.text-primary
