section.whatPrevent.bg-primary
  .container
    //- Row One
    .row
      //- Collumn One
      .col-md-6
        //- Row
        .row.row-cols-2
          .col
            .card.border-0.shadow.overflow-hidden
              i.flaticon-stay-at-home
              .card-body
                h5.text-primary.font-weight-bolder Stay At Home
                p.text-black-50
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, quo
          .col
            .card.border-0.shadow.overflow-hidden
              i.flaticon-social-distancing
              .card-body
                h5.text-primary.font-weight-bolder Keep Social distancing
                p.text-black-50
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, quo
          .col
            .card.border-0.shadow.overflow-hidden.mt-n3
              i.flaticon-patient
              .card-body
                h5.text-primary.font-weight-bolder Wear Facemask
                p.text-black-50
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, quo
          .col
            .card.border-0.shadow.overflow-hidden
              i.flaticon-hand-washing
              .card-body
                h5.text-primary.font-weight-bolder Wash Your Hand
                p.text-black-50
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, quo
      .col-md-6
        .box
          h2.text-primary.font-weight-bold How To Prevent Coronavirus
          p.text-black-50 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea consectetur quisquam expedita nesciunt officia eveniet
          p.text-black-50 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia, doloremque
          ul.list-unstyled
            li.text-muted
              | Lorem ipsum dolor sit amet.
            li.text-muted
              | dolor sit amet Lorem ipsum 
            li.text-muted
              | dolor ipsum  sit Lorem.
          a(href="#").btn.bg-primary2 Read More About Prevention