section.whatCrona
  .container
    .row.mb-5
      .col-md-6.position-relative
        img(src="images/hero_1.jpg", alt="img", class='img-fluid')
        .play-video
          span Watch The Video
          a(href="#").fa.fa-play
      .col-md-6
        .box.py-5
          h2.text-primary What is Coronavirus?
          p.text-black-50 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae ex recusandae tempora, cumque mollitia dolorem
          ul.list-unstyled.text-muted
            li
              | Lorem ipsum dolor sit amet.
            li
              | Lorem amet dolor consectetur ipsum
            li
              | Lorem ipsum dolor
          a(href="#").btn.bg-primary2 Learn More
    .row.row-cols-1.row-cols-md-4
      .col
        .media
          i.flaticon-protection.text-primary
          .media-body
            h5.text-primary protection
            p.text-black-50 Lorem ipsum dolor sit amet.
      .col
        .media
          i.flaticon-patient.text-primary
          .media-body
            h5.text-primary protection
            p.text-black-50 Lorem ipsum dolor sit amet.
      .col
        .media
          i.flaticon-hand-sanitizer.text-primary
          .media-body
            h5.text-primary protection
            p.text-black-50 Lorem ipsum dolor sit amet.
      .col
        .media
          i.flaticon-virus.text-primary
          .media-body
            h5.text-primary protection
            p.text-black-50 Lorem ipsum dolor sit amet.